<header class="px-10 lg:px-32 w-full border-b-2 border-amber-300/75">
    <nav class="py-2 lg:py-4 w-full border-x-2 border-amber-300/75">
        <ul class="hidden md:flex md:my-0 justify-center gap-4">
            <li>
                <a href="/">
                    <p-button
                        icon="pi pi-sparkles"
                        label="Inicio"
                        [raised]="true"
                        [text]="true"
                        severity="warn"
                        size="small"
                    />
                </a>
            </li>
            <li>
                <a href="/">
                    <p-button
                        icon="pi pi-heart"
                        label="Sobre mí"
                        [raised]="true"
                        [text]="true"
                        severity="warn"
                        size="small"
                    />
                </a>
            </li>
            <li>
                <a href="/">
                    <p-button
                        icon="pi pi-comment"
                        label="Contacto"
                        [raised]="true"
                        [text]="true"
                        severity="warn"
                        size="small"
                    />
                </a>
            </li>
        </ul>
    </nav>
</header>
