<div class="h-full border-x-2 border-amber-300/75">
  <article class="flex flex-col md:flex-row justify-between lg:justify-around">
    <div
      class="article-header flex flex-col justify-center w-full md:w-96 gap-4 p-4"
    >
      <h1
        class="text-amber-500 text-2xl md:text-4xl text-pretty font-serif font-semibold md:font-bold"
      >
        Acuarelas de tu mascota
      </h1>
      <p class="text-amber-700 md:text-xl font-sans antialiased text-pretty">
        Pídeme presupuesto sin compromiso por mis redes.
      </p>
      <div class="flex flex-row gap-2">
        <a
          aria-label="Instagram"
          href="https://instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="p-ripple p-button p-component p-button-icon-only p-button-raised p-button-warn p-button-rounded p-button-outlined font-bold"
        >
          <i class="pi pi-instagram"></i>
        </a>
        <a
          aria-label="LinkedIn"
          href="https://linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="p-ripple p-button p-component p-button-icon-only p-button-raised p-button-warn p-button-rounded p-button-outlined font-bold"
        >
          <i class="pi pi-linkedin"></i>
        </a>
        <a
          aria-label="PayPal"
          href="https://paypal.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="p-ripple p-button p-component p-button-icon-only p-button-raised p-button-warn p-button-rounded p-button-outlined font-bold"
        >
          <i class="pi pi-paypal"></i>
        </a>
      </div>
      <div class="flex flew-row justify-start items-center">
        <p class="text-amber-700 md:text-xl font-sans antialiased text-pretty">
          ¡Puedes ver mis trabajos y ejemplos más adelante!
        </p>
        <span class="text-amber-700">
          <i
            class="animate-bounce outline outline-4 outline-offset-4 outline-amber-300 rounded-full pi pi-arrow-down"
          ></i>
        </span>
      </div>
    </div>

    <div class="stacked">
      <img
        ngSrc="cat_no_background.webp"
        height="800"
        width="600"
        class=""
        alt="Dibujo de gato blanco con manchas"
        priority
      />
      <img
        ngSrc="acuarela.webp"
        height="600"
        width="600"
        class="media scale-110 header-image"
        alt="Acuarela de color naranja y morada"
        priority
      />
    </div>
  </article>
</div>
