.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.stacked > .media {
  z-index: -1;
}

.article-header {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit;
}

.header-image {
  animation: header-image-animation linear forwards;
  animation-timeline: view();
  animation-range: exit;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes header-image-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
    scale: 2;
  }
  100% {
    opacity: 0;
    scale: 3;
  }
}
