<section
  class="w-full max-w-full px-4 lg:px-16 -translate-y-16 md:-translate-y-24"
>
  <article
    class="w-full flex flex-col justify-between 2xl:flex-row rounded-lg backdrop-blur-lg bg-amber-300/30"
  >
    <div class="w-full flex justify-between p-4 lg:p-8">
      <p-imagecompare class="shadow-lg rounded-lg">
        <ng-template #right>
          <img src="ZEUS-PHOTO.jpg" />
        </ng-template>

        <ng-template #left>
          <img src="ZEUS.jpg" />
        </ng-template>
      </p-imagecompare>
    </div>
    <div class="w-full p-4 lg:p-8">
      <div class="columns-3 gap-y-4">
        <img
          class="w-full aspect-auto rounded-lg"
          ngSrc="BUFFY.webp"
          width="300"
          height="300"
        />
        <img
          class="w-full aspect-auto rounded-lg"
          ngSrc="LABRADOR.webp"
          width="300"
          height="300"
        />
        <img
          class="w-full aspect-auto rounded-lg"
          ngSrc="LIA.webp"
          width="300"
          height="300"
        />
        <img
          class="w-full aspect-auto rounded-lg"
          ngSrc="SELVA.webp"
          width="300"
          height="300"
        />
      </div>
    </div>
  </article>
</section>
